/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.navbar .logo {
  font-weight: bold;
}

.nav-links a {
  text-decoration: none;
  margin-right: 30px;
}

.nav-links a:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}

.center-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px;
}

.details {
  width: 60%;
  margin: 0 auto;

  /* Media query for mobile screens */
  @media (max-width: 768px) {
    width: 80%;
  }
}
